<%- include('header'); -%> 
             
            
<table class="ui celled table">
  <thead>
    <tr><th>Name</th>
    <th>Age</th>
    <th> favorite Foods</th>
  </tr></thead>
  <tbody>
    <%  if( persons.length > 0 ){ %>

    
    <% persons.forEach( el=>{ %>
    <tr>
      <td data-label="Name"> <a href="/List/<%= el._id %>"><%= el.name %></a>  </td>
      <td data-label="Age"> <%= el.age %> </td>
      <td data-label=" favorite Foods"> <%= el.favoriteFoods %></td>
    </tr>
    
    <% })} %>
    
  
  </tbody>
</table>
            
            
      </div>
</div>
 
</body>