<%- include('header'); -%> 
<h1> My account </h1>


<div class="header">
  
  </div>
    <div >
        email  : <%= user.email %> 
      
    </div>

    <div class="">
        password: <%= user.password %>
    </div>

    <div class="">
        firstName: <%= user.firstName %>
    </div>
    <div class="description">
        lastName : <%= user.lastName %>
    </div>
    <div class="description">
        courses : <%= user.courses %>
    </div>
    <div >
        profile : <%= user.profile %>
    </div>
    <div class="description">
        tutor_courses : <%= user.tutor_courses %>
    </div>

    
       
       
      

  </div>
      

  
</p>
</div>
</body>
<%- include('_footer') %>